# Generate a random secret: https://generate-secret.vercel.app/32 or `openssl rand -base64 32`
AUTH_SECRET=****

# The following keys below are automatically created and
# added to your environment when you deploy on vercel

# Get your xAI API Key here for chat and image models: https://console.x.ai/
XAI_API_KEY=****

# Get your Groq API Key here for reasoning models: https://console.groq.com/keys
GROQ_API_KEY=****

# Get your Open Router API Key here: https://openrouter.ai/settings/keys
OPENROUTER_API_KEY=****

# Instructions to create a Vercel Blob Store here: https://vercel.com/docs/storage/vercel-blob
BLOB_READ_WRITE_TOKEN=****

# Database URL. You can use any database which is supported by Payload: https://payloadcms.com/docs/database/overview
# In this example, we use MongoDB.
DATABASE_URL=****

# Generate a random secret: https://generate-secret.vercel.app/32 or `openssl rand -base64 32`
PAYLOAD_SECRET=****